<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#E4C59E"/>


    <link rel="apple-touch-icon" href="/icons/dinner-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="./dinner.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <title>Cari Makan</title>
  </head>
  <body>
    <header>
      <a href="#catalog" class="skip-link">Skip To Content</a>
      <h1>Cari Makan</h1>
      <button tabindex="0" id="hamburgerMenu" class="ham-menu">☰</button>

        <nav id="drawer" class="nav">
          <ul>
            <li class="nav-item"><a href="#/">Home</a></li>
            <li class="nav-item"><a href="#/favorite">Favorite</a></li>
            <li class="nav-item"><a href="https://github.com/ardhii-m" target="_blank">About us</a></li>
          </ul>
        </nav>
    </header>

    <div class="hero">
      <div class="hero-text">
        <h1 tabindex="0">Katalog Restoran</h1>
        <p tabindex="0">Temukan restoran terbaik yang ada di sekitar</p>
      </div>
    </div>

    <main id="mainContent">
    </main>

    <footer >
      <p tabindex="0">Copyright © 2024 - Cari Makan</p>
    </footer>
  </body>
</html>
